@model IEnumerable<NewsApp.Models.Article>
@{
    ViewData["Title"] = "Index";
}
@{
    int? userId = Context.Session.GetInt32("UserId");
}

<style>
    img {
        max-width: 100%; /* Set your maximum width here */
        max-height: auto; /* Set your maximum height here */
    }

    .cover {
        width: 400px;
        height: auto;
    }
</style>

<h1>News</h1>
@if(userId.HasValue)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <tbody>
        @foreach (var item in Model.OrderByDescending(Article => Article.DateTime))
        {
    <tr>
  
        <td>
            <a asp-action="Details" asp-route-id="@item.ID">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                @if (item.PID != null){
                    <div class="cover">
                        <img src="data:image/png;base64,@Convert.ToBase64String(item.Photo.ImageData)" alt="Article Photo" />
                    </div>
                }
                @Html.DisplayFor(modelItem => item.DateTime)
                @Html.DisplayFor(modelItem => item.User.Name)
            </a>
        <td>
            @if (userId.HasValue)
            {
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            }
        </td>
    </tr>
}
    </tbody>
</table>
